<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>writeFeel</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Heading of the web page -->
    <h1>Write_Feel</h1>

    <!-- For creating new post. -->
    <a href="http://localhost:8080/posts/new">Create new post</a>

    <!-- this div contains all the posts of this web -->
    <% for (const iterator of result) { %>
        <div id="posts">
            <div class="post-wrapper">
                <h4><i>
                        <%= iterator.username %>
                    </i></h4>
                <div class="post-container">
                    <p>
                        <%= iterator.content %>
                    </p>
                </div>

                <br>
                <div class="buttonInLine">
                    <a href="http://localhost:8080/posts/<%= iterator.id %>" class="view-full-button">View Full</a>
                    <a href="http://localhost:8080/posts/<%= iterator.id %>/edit" class="view-full-button">Edit Post</a>

                    <!-- <form method="post" action="/posts/<%= iterator.id %>?_method=DELETE">
                        <button class="deleteButton">Delete Post</button>
                    </form> -->

                    <button class="deleteButton" onclick="deletePost('<%= iterator.id %>')">Delete Post</button>
                </div>



            </div>
        </div>
        <% } %>



<script>
    async function deletePost(id) {
        if (confirm("Are you sure you want to delete this post?")) {
            try {
                const response = await fetch(`/posts/${id}`, {
                    method: 'DELETE'
                });

                if (response.ok) {
                    alert('Post deleted successfully');
                    window.location.reload(); // Reload the page to reflect the changes
                } else {
                    alert('Failed to delete the post');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred');
            }
        }
    }
</script>


            <!-- This div will show the post in full screen -->
            <!-- <div id="fullScreenPost" class="full-screen-post" style="display:none;">
                <div class="post-content"></div>
                <a href="#" class="back-button" onclick="goBack(event)">Go Back</a>
            </div>

            <script src="/script.js"></script> -->
</body>

</html>